
.contact {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.contact .contact-information {
    min-height: 150px;
    margin: 0 0 30px 0;
    padding: 30px 15px 0 15px;
    background: rgb(255 0 0 / 16%);
}
.error {  
  color: red;  
  margin-left: 5px;  
}  
.e_deposit{
    font-size: 14px;
   font-weight: 900;
  
}
.e_deposit_heading{
    font-size: 14px;
     font-weight: 600;
    
}
.contact .contact-info {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.contact .contact-icon {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2e3192;
    border-radius: 50px;
}

.contact .contact-icon i {
    font-size: 18px;
    color: #ffffff;
}

.contact .contact-text {
    position: relative;
    width: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.contact .contact-text h3 {
    font-size: 18px;
    font-weight: 700;
    color: #719a0a;
}

.contact .contact-text p {
    margin: 0;
    font-size: 16px;
    color: #454545;
}

.loginbox{
    border-radius: 15px;
    margin: 20px;
}

.contact .contact-social a {
       margin-right: 10px;
    font-size: 24px;
    color: #00a3ff;
}

.contact .contact-social a:hover {
    color: #719a0a;
}

.contact .contact-form iframe {
    width: 100%;
    height: 380px;
    border-radius: 15px;
    margin-bottom: 25px;
}


.contact .contact-form input {
    padding: 15px;
    background: none;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .1);
}



.contact .contact-form textarea {
    height: 150px;
    padding: 8px 15px;
    background: none;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .1);
}

.contact .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

/*'''''''''''''''''''''''''accrodian''''''''''''''''''''''''''''''''''*/
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

/*.active, .accordion:hover {
  background-color: #ccc;
}*/

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

/*.active:after {
  content: "\2212";
}*/

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
 overflow: scroll;
  transition: max-height 0.2s ease-out;
}
/*''''''''''''''''''''''''accordian end'''''''''''''''''''''''''''''''*/

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}
nav.navbar {
    background:#0b1538;
    /* padding: 1px; */
}
nav .navbar-nav .nav-item .nav-link {
    padding: 5px;
    font-size: 20px;
    color: white!important;
    /* background-color: #023dc9; */
    /* margin-right: 1px; */
    font-family: arial;
    /* box-shadow: 0px 0px 23px 3px #f5ee1b00; */
}
nav .navbar-nav .nav-item .nav-link:hover {
    /* font-weight: 600; */
    /* background-color: #0048d1; */
    /* border: 1px solid white; */
    color: #ff6c16!important;
    /* padding: 15px; */
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #2e3192;
    background-clip: padding-box;
    border: 1px solid rgb(46 49 146);
    border-radius: 0.25rem;
    color: white;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #ff6c167a;
    /* border-radius: 10px; */
}
.misvis{ 

    padding-top: 40px;padding-bottom: 40px;
}
.vncy{
    /* background-image: url(../images/vacancy1.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-attachment: fixed; */
    padding-top: 60px;
    padding-bottom: 60px;
}
.officer_dashboard{
    background-image:url('../images/1234.jpg'); background-size:cover; width:100%; height:auto !important;
    /* padding-top: 40px;padding-bottom: 40px;*/
}
.officer_dashboard .buttondesign {
    background: #366ad117;
    border-radius: 15px;
    border-spacing: 5px;
    border-width: 2px;
    border-color: #023ac7;
    color: #023ac7;
    padding-left: 20px;
    padding-right: 20px;
    height: 41px;
    width: 100%;
}
.misvis table tr th {
    background: #ff6c1687;
    border: 1px solid #2e3192;
    color: #000000;
}

.misvis table tr td {
    background: #2e319200;
    border: 1px solid #2e3192;
}
.officialservices{
    /* background-image:url('../images/bg.jpg');  */
    background-size:cover; width:100%; 
}
.officialservices table tr th{
    background: #598AA8;
    border: 0px solid #2e3192;
    color: #ffffff;
}
.officialservices table tr:nth-child(odd) {
    background: #d1d5d6;
    border:2px solid #042ebd;
    font-weight: 700;
}
.officialservices table tr:nth-child(even){
     background: #E3E3E3;
    border:2px solid #042ebd;
    font-weight: 700;
}
/* .misvis .tittle{
    background:#ff0000;
    color: white;
    padding: 10px;
    text-align: center;
} */
.tittle {
    background: linear-gradient(90deg, #032dbd, transparent);
    color: #fff;
    padding: 10px 0px 10px 32px;
    /* text-align: center; */
    margin-top: 10px;
    border-radius: 38px;
}
.map{padding-top: 20px;padding-bottom: 20px;}
.gallery{padding-top: 40px;padding-bottom: 40px;}
#gallery .gallery-image{
    width:100%;
    height:auto;
    padding: 5px;
    border:2px solid #000071;
    border-radius:5px;
    margin-top:10px 0;
}
.gallery-image img{
    width:100%;
    /*height: 180px;*/
    margin-bottom: 20px;
    padding: 5px;
    border:2px solid #e09300;
    border-radius:5px;
}
/*******************************/
/*********** Team CSS **********/
/*******************************/
.team {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}
.team .team-item {
    position: relative;
    margin-bottom: 30px;
    background: #ffffff;
}
.team .team-img {
    position: relative;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}
.team .team-img img {
    position: relative;
    width: 100%;
    margin-top: 15px;
    transform: scale(1.1);
    transition: .3s;
}
.team .team-item:hover img {
    margin-top: 0;
    margin-bottom: 15px;
}
.team .team-social {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}
.team .team-social a {
    position: relative;
    margin: 0 3px;
    margin-top: 100px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    font-size: 16px;
    color: #ffffff;
    background:#2e3192;
    opacity: 0;
}
.team .team-social a:hover {
    color: #0333c1;
    background: #f8ff0091;
    text-decoration: none;
}
.team .team-item:hover .team-social {
    background: rgba(256, 256, 256, .5);
}
.team .team-item:hover .team-social a:first-child {
    opacity: 1;
    margin-top: 0;
    transition: .3s 0s;
}
.team .team-item:hover .team-social a:nth-child(2) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .1s;
}
.team .team-item:hover .team-social a:nth-child(3) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .2s;
}
.team .team-item:hover .team-social a:nth-child(4) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .3s;
}
.team .team-text {
    position: relative;
    padding: 7px 15px;
    text-align: center;
    background: #ffffff;
    border: 1px solid rgb(254 238 190);
    border-top: none;
    border-radius: 0 0 15px 15px;
}
/* .team h2 {
    font-size: 20px;
    font-weight: 700;
    background: #ff0000;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;

} */
.team .team-text h2 {
    font-size: 13px;
    font-weight: 700;
    background: #ffd75c30;
    color: #0331c0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.team .team-text p {
    margin: 0;
    font-size: 14px;
}

/*******************************/
/********* Footer CSS **********/
/*******************************/
.footer {
    position: relative;
    /* margin-top: 33px; */
    padding-top: 48px;
    background: #0b1538;
}
.footer .footer-contact,.footer .footer-link,.footer .footer-newsletter {
    position: relative;
    margin-bottom: 45px;
    color: #fff;
    text-align: center;
}
.footer .footer-contact h2, .footer .footer-link h2, .footer .footer-newsletter h2 {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    color:#ff6c16;
}
/*.footer .footer-contact h2::after,
.footer .footer-link h2::after,
.footer .footer-newsletter h2::after {
   position: absolute;
    content: "";
    width: 59px;
    height: 2px;
    bottom: 0;
    left: 90px;
    background: #4bb2f7;
}*/
.footer .footer-link a {
    display: block;
    margin-bottom: 10px;
    color: #fff;
    transition: .3s;
}
.footer .footer-link a::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 6px;
    color: #f8ff00;
}
.footer .footer-link a:hover {
    color: #fbaf32;
    letter-spacing: 1px;
}
.footer .footer-contact p i {
    width: 30px;
    color: #ff6c16;
}
.footer .footer-social {
    position: relative;
    margin-top: 20px;
    display: flex;
}
.footer .footer-social a {
    display: inline-block;
    margin-right: 5px;
    /* width: 35px; */
    /* height: 35px; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #000482; */
    border-radius: 50%;
    font-size: 16px;
    color: #ffffff;
}
.footer .footer-social a:hover {
    background: #ff0000a1;
}
.footer .footer-social a:last-child {
    margin: 0;
}
.footer .footer-newsletter .form {
    position: relative;
    width: 100%;
}
.footer .footer-newsletter input {
    height: 60px;
    background: transparent;
    border:1px solid #ff6c16;
    border-radius: 5px;
}
.footer .footer-newsletter .btn {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 44px;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 700;
}
.footer .copyright {
    position: relative;
    width: 100%;
    padding: 9px 0;
    text-align: center;
    background:#ff6c16;
}
.footer .copyright p {
    margin: 0;
    display: inline-block;
    color: #000;
}
.footer .copyright p a {
    color: #000000;
    font-size: 17px;
    font-weight: 700;
}
.footer .copyright p a:hover {
    color: #ffffff;
}
.back-to-top {
    position: fixed;
    display: none;
    background: red;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 22px;
    right: 15px;
    bottom: 15px;
    border-radius: 5px;
    transition: background 0.5s;
    z-index: 9;
}
.back-to-top i {
    color: #ffffff;
    padding-top: 10px;
}
.back-to-top:hover {
    background: #719a0a;
}
.privacypolicy{padding-top: 40px;padding-bottom: 40px;
}
/* .privacypolicy h2{
    font-size: 20px;
    font-weight: 700;
    background: #ff0000;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
} */
.privacypolicy p{
    text-align: justify;
}
.navbar .fa {
    color:#ff6c16;
}
nav .navbar-nav .nav-item .nav-link:hover .fa {
    color:#ff6c16;
}
.fform{
    border: 1px solid black;
    padding: 20px;
    margin-top: 34px;
    margin-bottom: 50px;
    background: white;
    box-shadow: 0px 0px 25px 0px #023dc9;
}











/* ----------- Start Media Queries ----------------*/

/* @media(max-width:2560px){
    nav .navbar-nav .nav-item .nav-link {
    padding: 16px;
}
}
*/
.card {
    background-color:#ffffff82;
}
 .navbar .sticky-top{
    position: fixed;
    width: 100%;
    top: 0;
 }
 .ddrm img{
    animation-name: drmgl;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
 }
 @keyframes drmgl{
    0%{transform: scale(1.0);}
    50%{transform: scale(1.2);}
    100%{transform: scale(1.0);}
 }
 .parent .card {
    padding: 34px 12px 36px 25px;
    background-color: #a3be0c87;
    box-shadow: 2px 2px 5px 2px #d291028f;
    border: none;
}

 @media(max-width:1920px){
    nav .navbar-nav .nav-item .nav-link {
    padding:7px;
    font-size: 15px;
}
.navbar .navbar-brand{
    width: 15%;
}
}







@media(max-width:1920px){
.navbar .navbar-brand{
    width: 10%;
}

}


@media(max-width:1440px){
    nav .navbar-nav .nav-item .nav-link {
        padding: 10px;
        font-size: 15px;
}
.navbar .navbar-brand{
    width: 10%;
}
}
@media(max-width:1024px){
    nav .navbar-nav .nav-item .nav-link {
    padding:7px;
    font-size: 11px;
}
}
@media(max-width:576px){
    .navbar .navbar-brand{
        width: 35%;
    }
}

